# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. Netlify)
# warning: variables prefixed with GATSBY_ will be made available to client-side code
# be careful not to expose sensitive data (in this case your Algolia admin key)

GATSBY_ALGOLIA_APP_ID=insertValue
GATSBY_ALGOLIA_SEARCH_KEY=insertValue
ALGOLIA_ADMIN_KEY=insertValue
PRISMIC_REPO=insertValue
PRISMIC_ACCESS_TOKEN=insertValue
FIREBASE_DATABASE_URL=insertValue
GOOGLE_ANALYTICS_TRACKING_ID=insertValue
GATSBY_FIREBASE_APIKEY=insertValue
GATSBY_FIREBASE_AUTHDOMAIN=insertValue
GATSBY_FIREBASE_DATABASEURL=insertValue
GATSBY_FIREBASE_PROJECTID=allsect
GATSBY_FIREBASE_STORAGEBUCKET=insertValue
GATSBY_FIREBASE_MESSAGINGSENDERID=insertValue
GATSBY_FIREBASE_APPID=insertValue
GATSBY_FIREBASE_MEASUREMENTID=insertValue
HOTJAR_ID=insertValue
HOTJAR_SV=insertValue
